/* elements */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: left;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.6em;
}

[data-button] {
  display: inline-block;
  border-radius: 1px;
  padding: 7px 20px;
  background-color: #00FF66;
  color: #07080b;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
}

[data-button]:hover {
  background-color: #FF002E;
  color: #fff;
}

[data-button]:active {
  background-color: #B90D2C;
  color: #f1cfd5;
}

[data-button="small"] {
  padding: 0 13px;
  line-height: 26px;
}

[data-button="large"] {
  border-radius: 0;
  padding: 21px 40px;
  line-height: 26px;
  letter-spacing: -0.03em;
  box-shadow: 0px 0px 40px transparent;
}

[data-button="large"]:hover {
  box-shadow: 0px 0px 40px #FF002E;
}


/* layout */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #07080b;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('img/bg-small.png');
  overflow-x: clip;
}

@media only screen and (min-width: 960px) {
  body {
    background-image: url('img/bg-medium.png');
    background-position-x: 150px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    background-image: url('img/bg-large.png');
    background-position-x: 445px;
  }
}

.limiter {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1280px;
  padding: 0 8px;
}

@media only screen and (min-width: 960px) {
  .limiter {
    padding: 0 24px;
  }
}

/* decoration */


[class*="pyramid"] {
  position: absolute;
  animation: 5s ease-in-out 0s infinite alternate fly
}

@keyframes fly {
  0% { transform: translateY(0) }
  50% { transform: translateY(15%) }
  100% { transform: translateY(0%) }
}

.pyramid-1 {
  width: 192px;
  height: 179px;
  left: 61%;
  top: 40%;
  animation-delay: -5s;
}

.pyramid-2 {
  width: 196px;
  height: 169px;
  left: 68%;
  top: -7%;
  animation-delay: -4.5s;
  z-index: -1;
}

.pyramid-3 {
  width: 125px;
  height: 106px;
  left: 91%;
  top: 57%;
  animation-delay: -4s;
}

.pyramid-4 {
  width: 97px;
  height: 79px;
  left: 78%;
  top: 70%;
  animation-delay: -3.5s;
}

.pyramid-5 {
  width: 82px;
  height: 81px;
  left: 53%;
  top: -7%;
  animation-delay: -3s;
}

.pyramid-6 {
  width: 79px;
  height: 67px;
  left: 53%;
  top: 89%;
  animation-delay: -2.5s;
}

.pyramid-7 {
  width: 35px;
  height: 49px;
  left: 47%;
  top: 52%;
  animation-delay: -2s;
}

.pyramid-8 {
  width: 123px;
  height: 105px;
  left: 95%;
  top: 79%;
  animation-delay: -1.5s;
}

.pyramid-9 {
  width: 83px;
  height: 83px;
  left: 98%;
  top: 40%;
  animation-delay: -1s;
}

.pyramid-10 {
  width: 101px;
  height: 94px;
  left: -8%;
  top: -28%;
  animation-delay: -0.5s;
}

/* sections */

header {
  padding: 32px 24px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 960px) {
  header {
    padding: 40px 46px;
  }
}

section {
  padding: 24px;
  position: relative;
}


section.first {
  padding: 56px 24px 180px;
  z-index: 1;
}

@media only screen and (min-width: 960px) {
  section.first {
    padding: 26px 46px 180px;
  }
}

section.panel {
  background-color: #fff;
  color: #07080b;
  padding: 0;
}

.supported {
  border-bottom: 2px solid #F2F7ED;
  padding: 24px 24px 28px;
}

@media only screen and (min-width: 960px) {
  .supported {
    display: flex;
  }
  .supported > * {
    width: 50%;
  }
}

.supported h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

.bridges {
  margin-top: 28px;
}

@media only screen and (min-width: 960px) {
  .bridges {
    margin-top: 0;
  }
}

.features {
  padding: 30px 24px 80px;
}

@media only screen and (min-width: 960px) {
  .features {
    display: flex;
  }
  .features > * {
    width: 33.3%;
    margin-left: 22px;
    margin-right: 22px;
  }
  .features > *:first-child {
    margin-left: 0;
  }
  .features > *:last-child {
    margin-right: 0;
  }
}

.feature + .feature {
  margin-top: 40px;
}

@media only screen and (min-width: 960px) {
  .feature + .feature {
    margin-top: 0;
  }
}

section.partners {
  padding: 80px 24px 88px;
}

@media only screen and (min-width: 960px) {
  section.partners {
    padding: 80px 0;
  }
}

section.partners h2,
section.wins h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1400px) {
  section.partners h2,
  section.wins h2 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}


@media only screen and (min-width: 960px) {
  section.partners,
  section.wins {
    display: flex;
    align-items: center;
  }
  section.partners h2 {
    margin-right: 156px;
  }
  section.wins h2 {
    margin-right: 108px;
  }
}

.partners h2,
.awards h2 {
  margin-bottom: 35px;
}

.partners .items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 670px;
}

.partners img {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 35px;
}

@media only screen and (min-width: 960px) {
  .partners img {

  }
}

.partners [src*="near"] {
  width: 98px;
  height: 25px;
  order: 1;
}
.partners [src*="arbitrum"] {
  width: 164px;
  height: 31px;
  order: 2;
}
.partners [src*="biconomy"] {
  width: 145px;
  height: 27px;
  order: 3;
}
.partners [src*="polygon"] {
  width: 133px;
  height: 29px;
  order: 4;
}
.partners [src*="binance"] {
  width: 120px;
  height: 24px;
  order: 5;
}
.partners [src*="buildship"] {
  width: 143px;
  height: 28px;
  order: 6;
}


section.wins {
  border-top: 1px solid #FFFFFF;
  padding: 80px 24px 100px;
}

@media only screen and (min-width: 960px) {
  section.wins {
    padding: 80px 0 100px;
  }
}

.wins h2 {
  margin-bottom: 26px;
}

.wins .items {
  /*display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 670px;
}

@media only screen and (min-width: 960px) {
  .wins .items {
    grid-template-columns: auto auto auto auto;
  }
}

.wins .items img {
  margin-right: 22px;
  margin-bottom: 22px;
}

.wins [src*="okex"] {
  width: 136px;
  height: 79px;
}
.wins [src*="moledao"] {
  width: 104px;
  height: 80px;
}
.wins [src*="aragon"] {
  width: 141px;
  height: 32px;
}
.wins [src*="buildit"] {
  width: 133px;
  height: 19px;
}


footer {
  color: #838385;
  padding: 41px 24px;
}

@media only screen and (min-width: 960px) {
  footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}

footer span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

footer a {
  color: #838385;
}

footer a:hover {
  color: #ff002e
}

footer a:active {
  color: #b90d2c
}

footer [data-button] {
  border: 1px solid #252528;
  background-color: transparent;
  color: #838385;
}
footer [data-button]:hover {
  border: 1px solid #FF002E;
}
footer [data-button]:active {
  border: 1px solid #B90D2C;
}

@media only screen and (min-width: 960px) {
  .footer-left {
    display: flex;
  }
  .description-and-year {
    margin-left: 40px;
  }
}

.year {
  margin-left: 40px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
}

@media only screen and (min-width: 960px) {
  .footer-right {
    margin-top: 0;
  }
}

.description-and-year {
  margin-top: 12px;
}

@media only screen and (min-width: 960px) {
  .description-and-year {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}

.socials * + * {
  margin-left: 48px;
}

@media only screen and (min-width: 960px) {
  .socials {
    margin-right: 85px;
  }
}