/* elements */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: left;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.6em;
}

[data-button] {
  display: inline-block;
  border-radius: 1px;
  padding: 7px 20px;
  background-color: #00FF66;
  color: #07080b;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
}

[data-button]:hover {
  background-color: #FF002E;
  color: #fff;
}

[data-button]:active {
  background-color: #B90D2C;
  color: #f1cfd5;
}

[data-button="small"] {
  padding: 0 13px;
  line-height: 26px;
}

[data-button="large"] {
  border-radius: 0;
  padding: 21px 40px;
  line-height: 26px;
  letter-spacing: -0.03em;
  box-shadow: 0px 0px 40px transparent;
}

[data-button="large"]:hover {
  box-shadow: 0px 0px 40px #FF002E;
}


/* layout */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #07080b;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.limiter {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1280px;
  padding: 0 8px;
}

/* sections */

header {
  padding: 32px 24px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

section {
  padding: 24px;
}


section.first {
  padding: 56px 24px 180px;
}

section.panel {
  background-color: #fff;
  color: #07080b;
  padding: 0;
}

.supported {
  border-bottom: 2px solid #F2F7ED;
  padding: 24px 24px 28px;
}

@media only screen and (min-width: 960px) {
  .supported {
    display: flex;
  }
  .supported > * {
    width: 50%;
  }
}

.supported h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

.bridges {
  margin-top: 28px;
}

@media only screen and (min-width: 960px) {
  .bridges {
    margin-top: 0;
  }
}

.features {
  padding: 30px 24px 80px;
}

@media only screen and (min-width: 960px) {
  .features {
    display: flex;
  }
  .features > * {
    width: 33.3%;
    margin-left: 22px;
    margin-right: 22px;
  }
  .features > *:first-child {
    margin-left: 0;
  }
  .features > *:last-child {
    margin-right: 0;
  }
}

.feature + .feature {
  margin-top: 40px;
}

@media only screen and (min-width: 960px) {
  .feature + .feature {
    margin-top: 0;
  }
}

section.partners {
  padding: 80px 24px 88px;
}

section.awards {
  border-top: 1px solid #FFFFFF;
  padding: 80px 24px 120px;
}

footer {
  color: #838385;
  padding: 41px 24px;
}

footer span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

footer a {
  color: #838385;
}

footer a:hover {
  color: #ff002e
}

footer a:active {
  color: #b90d2c
}

footer [data-button] {
  border: 1px solid #838385;
  background-color: transparent;
  color: #838385;
}
footer [data-button]:hover {
  border: 1px solid #FF002E;
}
footer [data-button]:active {
  border: 1px solid #B90D2C;
}