/* elements */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media only screen and (min-width: 1420px) {
  h1 {
    margin-bottom: 60px;
    font-size: 80px;
    line-height: 90px;
  }
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

[data-button] {
  display: inline-block;
  border-radius: 1px;
  padding: 7px 20px;
  background-color: #00FF66;
  color: #07080b;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
}

[data-button]:hover {
  background-color: #FF002E;
  color: #fff;
}

[data-button]:active {
  background-color: #B90D2C;
  color: #f1cfd5;
}

[data-button="small"] {
  padding: 0 13px;
  line-height: 26px;
}

[data-button="large"] {
  border-radius: 0;
  padding: 21px 40px;
  line-height: 16px;
  letter-spacing: -0.03em;
  box-shadow: 0px 0px 40px transparent;
}

@media only screen and (min-width: 960px) {
  [data-button="large"] {
    line-height: 18px;
  }
}

@media only screen and (min-width: 1420px) {
  [data-button="large"] {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.03em;
  }
}

[data-button="large"]:hover {
  box-shadow: 0px 0px 40px #FF002E;
}


/* layout */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #07080b;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('img/bg-small.png');
  /*background-image: url('img/bg-large.jpg');*/
}

@media only screen and (min-width: 960px) {
  body {
    background-image: url('img/bg-large.jpg');
    background-position-x: 150px;
  }
}

@media only screen and (min-width: 1420px) {
  body {
    background-image: url('img/bg-large.jpg');
    background-position-x: 445px;
  }
}

.all {
  overflow: hidden;
}

.limiter {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1280px;
  padding: 0 8px;
}

@media only screen and (min-width: 960px) {
  .limiter {
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1420px) {
  .limiter {
    padding: 0;
  }
}


/* decoration */


[class*="pyramid"] {
  position: absolute;
  animation: 5s ease-in-out 0s infinite alternate fly
}

@keyframes fly {
  0% { transform: translateY(0) }
  50% { transform: translateY(15%) }
  100% { transform: translateY(0%) }
}

.pyramid-1 {
  width: 192px;
  height: 179px;
  left: 62%;
  top: 26%;
  animation-delay: -5s;
  display: none;
}

@media only screen and (min-width: 960px) {
  .pyramid-1 {
    display: unset;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-1 {
    width: 325px;
    height: 304px;
    left: 68%;
    top: 3%;
  }
}

.pyramid-2 {
  width: 152px;
  height: 130px;
  left: 60%;
  top: -7%;
  animation-delay: -4.5s;
  z-index: -1;
}

@media only screen and (min-width: 960px) {
  .pyramid-2 {
    width: 196px;
    height: 169px;
    left: 68%;
    top: -18%;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-2 {
    width: 332px;
    height: 286px;
    left: 82%;
    top: -32%;
  }
}

.pyramid-3 {
  width: 196px;
  height: 167px;
  left: 74%;
  top: 71%;
  animation-delay: -4s;
}

@media only screen and (min-width: 960px) {
  .pyramid-3 {
    width: 125px;
    height: 106px;
    left: 91%;
    top: 57%;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-3 {
    width: 241px;
    height: 206px;
    left: 103%;
    top: 50%;
  }
}

.pyramid-4 {
  width: 129px;
  height: 104px;
  left: 11%;
  top: 65%;
  animation-delay: -3.5s;
}

@media only screen and (min-width: 960px) {
  .pyramid-4 {
    width: 97px;
    height: 79px;
    left: 78%;
    top: 70%;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-4 {
    width: 177px;
    height: 143px;
    left: 78%;
    top: 56%;
  }
}

.pyramid-5 {
  width: 82px;
  height: 81px;
  left: 53%;
  top: -11%;
  animation-delay: -3s;
  display: none;
}

@media only screen and (min-width: 960px) {
  .pyramid-5 {
    display: unset;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-5 {
    width: 117px;
    height: 116px;
    left: 55%;
    top: -26%;
  }
}

.pyramid-6 {
  width: 79px;
  height: 67px;
  left: 51%;
  top: 84%;
  animation-delay: -2.5s;
  display: none;
}

@media only screen and (min-width: 960px) {
  .pyramid-6 {
    display: unset;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-6 {
    width: 113px;
    height: 96px;
    left: 62%;
    top: 84%;
  }
}

.pyramid-7 {
  width: 35px;
  height: 49px;
  left: 45%;
  top: 52%;
  animation-delay: -2s;
  display: none;
}

@media only screen and (min-width: 960px) {
  .pyramid-7 {
    display: unset;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-7 {
    width: 50px;
    height: 69px;
    left: 48%;
    top: 53%;
  }
}

.pyramid-8 {
  width: 123px;
  height: 105px;
  left: 95%;
  top: 79%;
  animation-delay: -1.5s;
  display: none;
}

@media only screen and (min-width: 960px) {
  .pyramid-8 {
    display: unset;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-8 {
    width: 169px;
    height: 144px;
    left: 94%;
    top: 78%;
  }
}

.pyramid-9 {
  width: 125px;
  height: 125px;
  left: 63%;
  top: 97%;
  animation-delay: -1s;
}

@media only screen and (min-width: 960px) {
  .pyramid-9 {
    width: 83px;
    height: 83px;
    left: 98%;
    top: 40%;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-9 {
    width: 125px;
    height: 125px;
    left: 105%;
    top: 39%;
  }
}

.pyramid-10 {
  width: 101px;
  height: 94px;
  left: -19%;
  top: 0%;
  animation-delay: -0.5s;
}

@media only screen and (min-width: 960px) {
  .pyramid-10 {
    left: -8%;
    top: -34%;
  }
}

@media only screen and (min-width: 1420px) {
  .pyramid-10 {
    left: -13%;
    top: 37%;
  }
}

/* sections */

header {
  padding: 32px 24px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 960px) {
  header {
    padding: 40px 46px;
  }
}

@media only screen and (min-width: 1420px) {
  header {
    padding: 120px 0;
  }
}

header img[src*="logo"] {
  width: 120px;
  height: 26px;
}

@media only screen and (min-width: 1420px) {
  header img[src*="logo"] {
    width: 157px;
    height: 34px;
  }
}

section {
  padding: 24px;
  position: relative;
}


section.first {
  padding: 56px 24px 180px;
  z-index: 1;
}

@media only screen and (min-width: 960px) {
  section.first {
    padding: 26px 46px 92px;
  }
}

@media only screen and (min-width: 1420px) {
  section.first {
    padding: 0 0 194px;
  }
}

section.panel {
  background-color: #fff;
  color: #07080b;
  padding: 0;
}

.supported {
  border-bottom: 2px solid #F2F7ED;
  padding: 24px 24px 28px;
}

@media only screen and (min-width: 960px) {
  .supported {
    display: flex;
    padding: 40px 46px 34px;
  }
  .supported > * {
    width: 50%;
  }
  .supported > * + * {
    margin-left: 60px;
  }
}

.supported h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

.dexs .items,
.bridges .items {
  height: 40px;
  text-align: justify;
  position: relative;
}

.dexs .items > *,
.bridges .items > * {
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}

.bridges {
  margin-top: 28px;
}

@media only screen and (min-width: 960px) {
  .bridges {
    margin-top: 0;
  }
}

.features {
  padding: 30px 24px 80px;
}

@media only screen and (min-width: 960px) {
  .features {
    display: flex;
    padding: 78px 46px 80px;
  }
  .features > * {
    width: 33.3%;
    margin-left: 22px;
    margin-right: 22px;
  }
  .features > *:first-child {
    margin-left: 0;
  }
  .features > *:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 960px) {
  .features > * {
    margin-left: 42px;
    margin-right: 42px;
  }
}

.feature + .feature {
  margin-top: 40px;
}

@media only screen and (min-width: 960px) {
  .feature + .feature {
    margin-top: 0;
  }
}

.feature h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1420px) {
  .feature h2 {
    font-size: 40px;
    line-height: 47px;
  }
}

.features p {
  font-size: 16px;
  line-height: 26px;
}


section.partners {
  padding: 80px 24px 60px;
}

@media only screen and (min-width: 960px) {
  section.partners {
    padding: 80px 0 50px;
  }
}

@media only screen and (min-width: 1420px) {
  section.partners {
    padding: 120px 0 90px;
  }
}

section.partners h2,
section.wins h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1420px) {
  section.partners h2,
  section.wins h2 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}


@media only screen and (min-width: 960px) {
  section.partners,
  section.wins {
    display: flex;
    align-items: center;
  }
  section.partners h2 {
    margin-right: 156px;
  }
  section.wins h2 {
    margin-right: 108px;
  }
}

@media only screen and (min-width: 1420px) {
  section.partners h2 {
    margin-right: 202px;
  }
  section.wins h2 {
    margin-right: 130px;
  }
}

.partners h2,
.awards h2 {
  margin-bottom: 35px;
}

.partners .items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 630px;
  margin-right: -24px;
}

@media only screen and (min-width: 1420px) {
  .partners .items {
    max-width: 760px;
  }
}

.partners img {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 960px) {
  .partners img {
    margin-right: 29px;
    margin-bottom: 25px;
  }
}

.partners [src*="near"] {
  width: 98px;
  height: 25px;
  order: 1;
}
.partners [src*="arbitrum"] {
  width: 164px;
  height: 31px;
  order: 2;
}
.partners [src*="biconomy"] {
  width: 145px;
  height: 27px;
  order: 3;
}
.partners [src*="polygon"] {
  width: 133px;
  height: 29px;
  order: 4;
}
.partners [src*="binance"] {
  width: 120px;
  height: 24px;
  order: 5;
}
.partners [src*="buildship"] {
  width: 143px;
  height: 28px;
  order: 6;
}

@media only screen and (min-width: 960px) {
  .partners [src*="near"] {
    width: 110px;
    height: 30px;
    order: 1;
  }
  .partners [src*="arbitrum"] {
    width: 164px;
    height: 31px;
    order: 4;
  }
  .partners [src*="biconomy"] {
    width: 137px;
    height: 26px;
    order: 2;
  }
  .partners [src*="polygon"] {
    width: 132px;
    height: 29px;
    order: 6;
  }
  .partners [src*="binance"] {
    width: 155px;
    height: 31px;
    order: 5;
  }
  .partners [src*="buildship"] {
    width: 163px;
    height: 32px;
    order: 3;
  }
}

@media only screen and (min-width: 1420px) {
  .partners [src*="near"] {
    width: 134px;
    height: 35px;
    order: 1;
  }
  .partners [src*="arbitrum"] {
    width: 230px;
    height: 45px;
    order: 4;
  }
  .partners [src*="biconomy"] {
    width: 166px;
    height: 31px;
    order: 2;
  }
  .partners [src*="polygon"] {
    width: 160px;
    height: 35px;
    order: 6;
  }
  .partners [src*="binance"] {
    width: 187px;
    height: 38px;
    order: 5;
  }
  .partners [src*="buildship"] {
    width: 199px;
    height: 38px;
    order: 3;
  }
}

section.wins {
  border-top: 1px solid #FFFFFF;
  padding: 80px 24px 100px;
}

@media only screen and (min-width: 960px) {
  section.wins {
    padding: 80px 0 100px;
  }
}

@media only screen and (min-width: 1420px) {
  section.wins {
    padding: 120px 0 90px;
  }
}

.wins h2 {
  margin-bottom: 26px;
}

.wins .items {
  /*display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 670px;
  margin-right: -22px;
}

@media only screen and (min-width: 960px) {
  .wins .items {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (min-width: 960px) {
  .wins .items {
    max-width: 780px;
  }
}

.wins .items img {
  margin-right: 22px;
  margin-bottom: 22px;
}

.wins [src*="okex"] {
  width: 136px;
  height: 79px;
}
.wins [src*="moledao"] {
  width: 104px;
  height: 80px;
}
.wins [src*="aragon"] {
  width: 141px;
  height: 32px;
}
.wins [src*="buildit"] {
  width: 133px;
  height: 19px;
}

@media only screen and (min-width: 960px) {
  .wins .items img {
    margin-right: 19px;
    margin-bottom: 19px;
  }

  .wins [src*="okex"] {
    width: 109px;
    height: 63px;
  }
  .wins [src*="moledao"] {
    width: 74px;
    height: 57px;
  }
  .wins [src*="aragon"] {
    width: 144px;
    height: 32px;
  }
  .wins [src*="buildit"] {
    width: 148px;
    height: 22px;
  }
}

@media only screen and (min-width: 1420px) {
  .wins .items img {
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .wins [src*="okex"] {
    width: 136px;
    height: 79px;
  }
  .wins [src*="moledao"] {
    width: 92px;
    height: 71px;
  }
  .wins [src*="aragon"] {
    width: 179px;
    height: 40px;
  }
  .wins [src*="buildit"] {
    width: 184px;
    height: 27px;
  }
}


footer {
  color: #838385;
  padding: 41px 24px;
}

@media only screen and (min-width: 960px) {
  footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 41px 0;
  }
}

@media only screen and (min-width: 1420px) {
  footer {
    padding-bottom: 80px;
  }
}

footer span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 960px) {
  footer span {
    font-size: 14px;
    line-height: 26px;
  }
}

footer a {
  color: #838385;
}

footer a:hover {
  color: #ff002e
}

footer a:active {
  color: #b90d2c
}

footer [data-button] {
  border: 1px solid #252528;
  background-color: transparent;
  color: #838385;
}
footer [data-button]:hover {
  border: 1px solid #FF002E;
}
footer [data-button]:active {
  border: 1px solid #B90D2C;
}

@media only screen and (min-width: 960px) {
  .footer-left {
    display: flex;
    align-items: center;
  }
  .description-and-year {
    margin-left: 40px;
  }
}

.year {
  margin-left: 35px;
}

@media only screen and (min-width: 960px) {
  .year {
    margin-left: 40px;
  }
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
}

@media only screen and (min-width: 960px) {
  .footer-right {
    margin-top: 0;
  }
}

.description-and-year {
  margin-top: 12px;
}

@media only screen and (max-width: 520px) {
  .description-and-year {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 960px) {
  .description-and-year {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}

.socials {
  margin-right: 18px;
}
.socials * + * {
  margin-left: 7px;
}

@media only screen and (min-width: 1000px) {
  .socials {
    margin-right: 44px;
  }
  .socials * + * {
    margin-left: 28px;
  }
}

@media only screen and (min-width: 1420px) {
  .socials {
    margin-right: 60px;
  }
  .socials * + * {
    margin-left: 54px;
  }
}
