.title {
  @apply text-4xl leading-[44px] font-semibold mb-3 text-center;
}

.description {
  @apply text-white/40 mb-10 lg:mb-20 text-2xl text-center px-5;
}

.image {
  @apply mx-auto;

  @media screen and (min-width: 768px) {
    width: 540px;
    height: 140px;
  }
}

.marquee {
  @apply relative;

  &::before {
    content: '';
    @apply absolute top-0 left-0 w-40 h-[96px] bg-gradient-to-l from-transparent to-[#090a0c] z-10;

    @media screen and (min-width: 1024px) {
      @apply h-[120px];
    }
  }

  &::after {
    content: '';
    @apply absolute top-0 right-0 w-32 h-[96px] bg-gradient-to-r from-transparent to-[#090a0c] z-10;

    @media screen and (min-width: 1024px) {
      @apply h-[120px];
    }
  }
}
