.leftDot {
  @apply relative;

  &::before {
    content: '';
    @apply absolute left-0 right-0 top-0 bottom-0 bg-no-repeat z-50;
    background-image: url('/images/backgrounds/bg-dotted-desktop.png');
    background-position: -1247px;

    @media screen and (min-width: 1024px) {
      background-position: -1147px;
    }
  }
}
