@tailwind base;
@tailwind components;
@tailwind utilities;

/* elements */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.02em;
  transform: scale(0.9);
  opacity: 0;
  animation: appear 1.5s ease 1 normal forwards;

  @media only screen and (min-width: 960px) {
    margin-bottom: 64px;
    font-size: 96px;
    line-height: 108px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

h2,
h3 {
  margin: 0;
}

[data-button] {
  display: inline-block;
  border-radius: 12px;
  padding: 7px 20px;
  background-color: #00ff66;
  color: #07080b;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;

  &:hover {
    background-color: #ff002e;
    color: #fff;
  }

  &:active {
    background-color: #b90d2c;
    color: #f1cfd5;
  }
}

[data-button='small'] {
  padding: 0 13px;
  line-height: 26px;
}

[data-button='large'] {
  min-width: 240px;
  padding: 18px 40px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.03em;
  box-shadow: 0px 0px 40px transparent;

  @media only screen and (min-width: 960px) {
    line-height: 18px;
  }

  @media only screen and (min-width: 1420px) {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.03em;
  }

  &:hover {
    box-shadow: 0px 0px 40px #ff002e;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}



/* layout */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #090a0c;
  color: #fff;
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('/images/backgrounds/bg-top-small.jpg');
  position: relative;
  letter-spacing: -0.02em;

  @media only screen and (min-width: 620px) {
    background-image: url('/images/backgrounds/bg-top-large.jpg');
  }

  @media only screen and (min-width: 2600px) {
    background-position-y: -20vw;
  }
  @media only screen and (min-width: 5200px) {
    background-position-y: -30vw;
  }

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}


.all {
  overflow: hidden;
  background: #090a0cff;
  animation: enlight 2s ease 1 normal forwards;
  will-change: background;
}

@keyframes enlight {
  0% {
    background: #090a0cff;
  }
  100% {
    background: #090a0c00;
  }
}

.limiter {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1800px;
}



/* sections */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

section.intro {
  padding: 40px 10px 80px;
  text-align: center;

  @media only screen and (min-width: 960px) {
    padding: 62px 46px 180px;
  }

  .form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 480px;

    @media only screen and (min-width: 960px) {
      width: 720px;
      max-width: unset;
    }
  }

  .form-link {
    display: block;
    padding-bottom: 55.97%;
    opacity: 0;
    animation: slideDown 0.8s ease 1 normal forwards;
    animation-delay: 0.7s;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: scale(0.96) translateY(-9%);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

section.tools {
  margin-bottom: 80px;
  padding: 24px 0 0;
  text-align: center;

  @media only screen and (min-width: 960px) {
    margin-bottom: 120px;
  }

  h2 {
    margin-bottom: 12px;
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0em;

    .dot {
      color: #00FF60;
    }

    @media only screen and (min-width: 960px) {
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 80px;
    }
  }

  p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 600px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 28px;

    @media only screen and (min-width: 960px) {
      margin-bottom: 80px;
      font-size: 24px;
      line-height: 38px;
    }
  }

  .tools-switch {
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.04);

    @media only screen and (min-width: 960px) {
      margin-bottom: 40px;
    }

    button {
      appearance: none;
      border: none;
      border-radius: 8px;
      background: none;
      padding: 7px 16px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      color: #FFFFFFCC;
      transition: all 300ms ease;

      &.active {
        background: #00FF60;
        color: rgba(9, 10, 12, 1);

        .number {
          color: rgba(9, 10, 12, 0.4);
        }
      }

      .number {
        margin-left: 4px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 400;
      }
    }
  }

  .rows {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      background: linear-gradient(270deg, rgb(9, 10, 12) 0%, rgba(9, 10, 12, 0) 100%);
      transform: rotate(-180deg);
      will-change: transform;
      width: 15%;
      height: 100%;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      right: -1px;
      top: 0;
      background: linear-gradient(270deg, rgb(9, 10, 12) 0%, rgba(9, 10, 12, 0) 100%);
      width: 15%;
      height: 100%;
      z-index: 1;
    }
  }

  .row-wrapper {
    position: relative;
    height: 40px;

    & + .row-wrapper {
      margin-top: 20px;
    }

    @media only screen and (min-width: 960px) {
      height: 80px;
    }
  }

  .row {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: both;

    &.animated {
      animation-name: moveSide;
    }

    &.row-1,
    &.row-3,
    &.row-5 {
      animation-duration: 1300s;
    }

    &.row-2,
    &.row-4 {
      animation-duration: 1100s;
    }

    @keyframes moveSide {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      @media only screen and (min-width: 960px) {
        width: 80px;
        height: 80px;
      }

      & + img {
        margin-left: 40px;
      }
    }
  }
}


section.features {
  padding: 0 12px 0;

  @media only screen and (min-width: 960px) {
    display: flex;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature + .feature {
    margin-top: 10px;

    @media only screen and (min-width: 960px) {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 960px) {
    .feature {
      width: 33.3%;
      margin-left: 12px;
      margin-right: 12px;
    }
    .feature:first-child {
      margin-left: 0;
    }
    .feature:last-child {
      margin-right: 0;
    }
  }

  .feature {
    display: block;
    padding: 40px 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.02);
    color: inherit;
    position: relative;
    --y: calc((var(--cursor-y) * 1px));
    --x: calc((var(--cursor-x) * 1px));
    transition: all 500ms ease;
    will-change: background, border;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.16);
      background: rgba(255, 255, 255, 0.04);

      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      pointer-events: none;
      user-select: none;
      position: absolute;
      inset: 0px;
      border-radius: inherit;
      transition: opacity 500ms ease;
      will-change: background, opacity;
      background: radial-gradient(900px circle at var(--x) var(--y),rgba(0,255,102,0.15),transparent 40%);
      opacity: 0;
    }


    @media only screen and (min-width: 960px) {
      padding: 40px;
    }
  }

  .feature-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (min-width: 960px) {
      display: block;
      margin-bottom: 24px;
    }
  }

  h2 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;

    @media only screen and (min-width: 960px) {
      margin-top: 40px;
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  p {
    margin: 0;
    max-width: 80%;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.4);

    @media only screen and (min-width: 960px) {
      max-width: unset;
    }
  }
}
