@tailwind base;
@tailwind components;
@tailwind utilities;

/* elements */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
}

p {
  letter-spacing: -0.02em;
}

h1,
h2,
h3 {
  margin: 0;
  letter-spacing: -0.04em;
}

h1 {
  margin-bottom: 18px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  transform: scale(0.9);
  opacity: 0;
  animation: appear 1.5s ease 1 normal forwards;

  @media only screen and (min-width: 960px) {
    margin-bottom: 60px;
    font-size: 62px;
    line-height: 1.15em;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

[data-button] {
  display: inline-block;
  border-radius: 12px;
  padding: 7px 20px;
  background-color: #00ff66;
  color: #07080b;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;

  &:hover {
    background-color: #ff002e;
    color: #fff;
  }

  &:active {
    background-color: #b90d2c;
    color: #f1cfd5;
  }
}

[data-button='small'] {
  padding: 0 13px;
  line-height: 26px;
}

[data-button='large'] {
  min-width: 172px;
  padding: 16px 20px;
  line-height: 1em;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
  box-shadow: 0px 0px 40px transparent;

  @media only screen and (min-width: 960px) {
    min-width: 240px;
    padding: 23px 20px;
    font-size: 18px;
  }

  &:hover {
    box-shadow: 0px 0px 40px #ff002e;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}



/* layout */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #090a0c;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/images/backgrounds/bg-top-small.jpg');
  position: relative;
  letter-spacing: -0.02em;

  @media only screen and (min-width: 620px) {
    background-image: url('/images/backgrounds/bg-top-large.jpg');
  }

  @media only screen and (min-width: 2600px) {
    background-position-y: -20vw;
  }
  @media only screen and (min-width: 5200px) {
    background-position-y: -30vw;
  }

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}


.all {
  overflow: hidden;
  background: #090a0cff;
  animation: enlight 2s ease 1 normal forwards;
  will-change: background;
}

@keyframes enlight {
  0% {
    background: #090a0cff;
  }
  100% {
    background: #090a0c00;
  }
}

.limiter {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1800px;
}



/* sections */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

section.intro {
  padding: 90px 10px 0;
  text-align: center;

  @media only screen and (min-width: 960px) {
    padding: 200px 46px 0;
  }

  .form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 480px;

    @media only screen and (min-width: 960px) {
      width: 560px;
      max-width: unset;
    }
  }

  .form-link {
    display: block;
    padding-bottom: 55.97%;
    opacity: 0;
    animation: slideDown 0.8s ease 1 normal forwards;
    animation-delay: 0.7s;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: scale(0.96) translateY(-9%);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

section.tools {
  margin-bottom: 80px;
  padding: 24px 0 0;
  text-align: center;

  @media only screen and (min-width: 960px) {
    margin-bottom: 120px;
  }

  h2 {
    margin-bottom: 12px;
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0em;

    .dot {
      color: #00FF60;
    }

    @media only screen and (min-width: 960px) {
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 80px;
    }
  }

  p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 600px;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 28px;

    @media only screen and (min-width: 960px) {
      margin-bottom: 80px;
      font-size: 24px;
      line-height: 38px;
    }
  }

  .tools-switch {
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.04);

    @media only screen and (min-width: 960px) {
      margin-bottom: 40px;
    }

    button {
      appearance: none;
      border: none;
      border-radius: 8px;
      background: none;
      padding: 7px 16px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      color: #FFFFFFCC;
      transition: all 300ms ease;

      &.active {
        background: #00FF60;
        color: rgba(9, 10, 12, 1);

        .number {
          color: rgba(9, 10, 12, 0.4);
        }
      }

      .number {
        margin-left: 4px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 400;
      }
    }
  }

  .rows {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      background: linear-gradient(270deg, rgb(9, 10, 12) 0%, rgba(9, 10, 12, 0) 100%);
      transform: rotate(-180deg);
      will-change: transform;
      width: 15%;
      height: 100%;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      right: -1px;
      top: 0;
      background: linear-gradient(270deg, rgb(9, 10, 12) 0%, rgba(9, 10, 12, 0) 100%);
      width: 15%;
      height: 100%;
      z-index: 1;
    }
  }

  .row-wrapper {
    position: relative;
    height: 40px;

    & + .row-wrapper {
      margin-top: 20px;
    }

    @media only screen and (min-width: 960px) {
      height: 80px;
    }
  }

  .row {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: both;

    &.animated {
      animation-name: moveSide;
    }

    &.row-1,
    &.row-3,
    &.row-5 {
      animation-duration: 1300s;
    }

    &.row-2,
    &.row-4 {
      animation-duration: 1100s;
    }

    @keyframes moveSide {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      @media only screen and (min-width: 960px) {
        width: 80px;
        height: 80px;
      }

      & + img {
        margin-left: 40px;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(26, 27, 30, 0.64);
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(120px);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.25s ease;

  @media only screen and (min-width: 960px) {
    display: none;
  }

  &--opened {
    opacity: 1;
    transform: scaleY(1);
  }

  &__header {
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__close {
    display: inline-block;
    margin-left: auto;
    font-size: 0;
    appearance: none;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.25s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
      color: rgba(255, 255, 255, 0.8);
    }
  
    &:active {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  &__docs {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    transition: background 0.25s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 12px;
  }

  &__products {
    margin: 0 0 35px;
    padding: 0;
    list-style: none;
  }

  &__product {
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.04);
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.24);

    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__launch-button {
    margin: 30px auto;
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    padding: 16px 20px;
    background-color: #00ff66;
    color: #07080b;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.02em;
    text-align: center;
    box-shadow: 0px 0px 40px transparent;

    &:hover {
      box-shadow: 0px 0px 40px #ff002e;
      background-color: #ff002e;
      color: #fff;
    }

    &:active {
      background-color: #b90d2c;
      color: #f1cfd5;
    }
  }
}

.menu-product {
  &--soon {
    cursor: not-allowed;

    & .menu-product__wrapper {
      &:hover,
      &:active {
        background-color: transparent;
      }
    }

    & .menu-product__info {
      color: rgba(255, 255, 255, 0.15);
    }

    & .menu-product__img-wrapper {
      background-color: rgba(255, 255, 255, 0.1);
    }

    & .menu-product__title::after {
      position: absolute;
      content: 'soon';
      text-transform: uppercase;
      padding-left: 8px;
      padding-top: 2.5px;
      font-size: 12px;
      line-height: 14px;
      color: #00ff66;
    }
  }

  &__wrapper {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 12px 12px 20px;
    align-items: flex-start;
    transition: background-color 0.25s ease-in-out;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      padding: 16px;
      align-items: center;
      border-radius: 12px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  &__image-wrapper {
    position: relative;
    font-size: 0;
    line-height: 0;
    padding: 6px;
    background-color: #111215;
    border-radius: 8px;
    margin-right: 12px;

    @media screen and (min-width: 768px) {
      padding: 20px;
      margin-right: 24px;
      border-radius: 24px;

      &::after {
        content: '';
        position: absolute;
        background-color: rgba(0, 255, 102, 0.7);
        filter: blur(12px);
        z-index: -1;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__image {
    @media screen and (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  &__info {
    margin-right: 10px;
  }

  &__title {
    position: relative;
    padding: 0;
    margin: 0 0 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4)
  }
}

// fix 'react-fast-marquee'
.marquee {
  min-width: auto!important;
}

// fix codeMirror
.cm-gutterElement {
  padding-right: 20px!important;
}
.cm-editor {
  background: #131416;
}
.cm-gutter {
  background: #18191b;
}
.cm-scroller::-webkit-scrollbar {
  width: 16px;
}
.cm-scroller::-webkit-scrollbar-track {
  border-radius: 12px;
}
.cm-scroller::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.12);
  border: 7px solid #131416;
}
