body {
  position: relative;

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

button {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  letter-spacing: normal !important; /* WHY I NEED FIX THIS? 🥲 */

  --socials-gap: 10px;

  @media screen and (min-width: 800px) {
    --socials-gap: 20px;
  }

  @media screen and (min-width: 960px) {
    --socials-gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    --socials-gap: 60px;
  }

  &__burger-button {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(120px);
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 0;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__actions {
    display: none;
    position: relative;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__socials,
  &__more-socials {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: translateX(calc(100% + var(--socials-gap)));
    gap: var(--socials-gap);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    &--opened {
      transform: translateX(0);
    }
  }

  &__more-socials {
    z-index: -5;
    opacity: 0;
    margin-left: var(--socials-gap);

    &.header__socials--opened {
      opacity: 1;
      z-index: 1;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    padding: 8px;
    transition: background 0.25s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.04);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }

  &__more-button {
    margin: 0 var(--socials-gap);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    appearance: none;
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.04);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.16);
    }

    &--opened {
      & .header__more-icon:first-child {
        display: none;
      }
      & .header__more-icon:last-child {
        display: block;
      }
    }
  }

  &__more-icon:first-child {
    display: block;
  }
  &__more-icon:last-child {
    display: none;
  }

  &__action-button {
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    appearance: none;
    padding: 10px 16px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    margin-right: 8px;
    letter-spacing: -0.03em;
    z-index: 5;

    background-color: #07080b;
    color: white;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover {
      background-color: #04ff66;
      box-shadow: 0px 0px 16px rgba(4, 255, 102, 0.6);
      color: #07080b;
    }

    &:active {
      background-color: #30ba66;
      box-shadow: none;
      color: #07080b;
    }
  }

  &__products-button {
    width: 99px;
    margin-right: 0;

    &--opened {
      z-index: 27;
      font-size: 0;

      & .header__products-icon {
        margin-top: 2px;
        display: block;
      }
    }
  }

  &__products-icon {
    display: none;
    margin: 0;
    padding: 0;
  }

  &__products {
    z-index: -1;
    position: absolute;
    top: -24px;
    right: -24px;
    background-color: rgba(26, 27, 30, 0.64);
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(120px);
    border-radius: 24px;
    padding: 72px 24px 24px;
    opacity: 0;

    @supports (-moz-appearance: none) {
      background-color: #07080b;
    }

    &--opened {
      transition: opacity 0.4s ease-in-out;
      z-index: 20;
      opacity: 1;
    }
  }

  &__products-close-button {
    position: absolute;
    right: 24px;
    top: 24px;
    appearance: none;
    border: none;
    width: 99px;
    height: 40px;
    border-radius: 12px;
    padding: 12px;
    background-color: #07080b;
    color: white;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover {
      background-color: #04ff66;
      box-shadow: 0px 0px 16px rgba(4, 255, 102, 0.6);
      color: #07080b;
    }

    &:active {
      background-color: #30ba66;
      box-shadow: none;
      color: #07080b;
    }
  }

  &__products-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.mobile-menu {
  display: none;
  z-index: 10;
  padding: 32px 16px 16px;
  background-color: rgba(26, 27, 30, 0.64);
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(120px);

  &--opened {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  &__header {
    padding: 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__close {
    display: inline-block;
    margin-left: auto;
    font-size: 0;
    appearance: none;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 24px;
    background-color: #07080b;
    color: white;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;

    &:active,
    &:hover {
      background-color: #04ff66;
      box-shadow: 0px 0px 16px rgba(4, 255, 102, 0.6);
      color: #07080b;
    }
  }

  &__docs {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 8px 8px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    transition: background 0.25s ease-in-out;

    &:active,
    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 8px;
  }

  &__products {
    margin: 0 0 35px;
    padding: 0;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
  }

  &__product {
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:last-child {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    color: white;
  }
}

.menu-product {
  &--soon {
    cursor: not-allowed;

    & .menu-product__wrapper {
      &:hover,
      &:active {
        background-color: transparent;
      }
    }

    & .menu-product__info {
      color: rgba(255, 255, 255, 0.15);
    }

    & .menu-product__img-wrapper {
      background-color: rgba(255, 255, 255, 0.1);
    }

    & .menu-product__title::after {
      position: absolute;
      content: 'soon';
      text-transform: uppercase;
      padding-left: 8px;
      padding-top: 2.5px;
      font-size: 12px;
      line-height: 14px;
      color: #00ff66;
    }
  }

  &__wrapper {
    overflow: hidden;
    display: flex;
    padding: 8px;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.25s ease-in-out;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      padding: 16px;
      align-items: center;
      border-radius: 12px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  &__image-wrapper {
    position: relative;
    font-size: 0;
    line-height: 0;
    padding: 6px;
    background-color: #111215;
    border-radius: 8px;
    margin-right: 12px;

    @media screen and (min-width: 768px) {
      padding: 20px;
      margin-right: 24px;
      border-radius: 24px;

      &::after {
        content: '';
        position: absolute;
        background-color: rgba(0, 255, 102, 0.7);
        filter: blur(20px);
        z-index: -1;
        width: 48px;
        height: 48px;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__image {
    @media screen and (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  &__info {
    padding: 6px 0;

    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    position: relative;
    padding: 0;
    margin: 0 0 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}


.features {
  padding: 30px 24px 80px;

  @media only screen and (min-width: 960px) {
    display: flex;
    padding: 78px 46px 80px;
  }

  .feature + .feature {
    margin-top: 10px;

    @media only screen and (min-width: 960px) {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 960px) {
    .feature {
      width: 33.3%;
      margin-left: 12px;
      margin-right: 12px;
    }
    .feature:first-child {
      margin-left: 0;
    }
    .feature:last-child {
      margin-right: 0;
    }
  }

  .feature {
    padding: 46px 40px 40px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.02);
  }

  h2 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;

    @media only screen and (min-width: 1420px) {
      font-size: 40px;
      line-height: 47px;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.4);
  }
}
