.Footer {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.24);
  padding: 40px 24px;

  @media only screen and (min-width: 960px) {
    margin-top: 195px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 41px 60px;
  }

  .descriptionAndYear {
    margin-top: 18px;
    font-size: 12px;
    line-height: 18px;

    @media only screen and (min-width: 960px) {
      font-size: 18px;
      line-height: 28px;
      margin-top: 0;
    }
  }

  .docsLink {
    margin-top: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    appearance: none;
    padding: 8px 17px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.03em;

    background-color: rgba(255, 255, 255, 0.04);
    color: #FFFFFFCC;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;

    @media only screen and (min-width: 960px) {
      display: none;
    }

    &:hover {
      background-color: #04ff66;
      box-shadow: 0px 0px 16px rgba(4, 255, 102, 0.6);
      color: #07080b;
    }

    &:active {
      background-color: #30ba66;
      box-shadow: none;
      color: #07080b;
    }
  }
}
