.Footer {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.24);
  padding: 40px 24px;

  @media only screen and (min-width: 960px) {
    margin-top: 195px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 41px 60px;
  }

  .descriptionAndYear {
    font-size: 16px;
    line-height: 24px;
  }
}
